@using Planner_0.Models.Planner;
@model PlannerModel.Task
@{
    ViewBag.Title = "Details";
}

<h1>
    @ViewBag.Time;
</h1>
<div>
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Creation_Time)
            
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Creation_Time)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Deadline)

        </dt>

        <dd>
            @Html.DisplayFor(model => model.Deadline)
        </dd>
        <dt>
            <h1>
                @Html.DisplayNameFor(model => model.Title)
            </h1>
            
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Task_ID }) |
    @Html.ActionLink("Back to List", "ListOfTaskView")
</p>

@using (Html.BeginForm("Delete", "Planner", new { id = Model.Task_ID }, FormMethod.Post ))
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <button class="btn btn-danger">Delete</button>
    </div>
}
